<ion-view view-title="Places">
  <ion-content class="has-header">
    
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="place in places" type="item-text-wrap" href="#/places/{{place.id}}">
        <img ng-src="{{place.face}}">
        <h2>{{place.name}}</h2>
        <p>{{place.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(place)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
